<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .strike {
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <p>Add a new task here: <input type="text" v-model="newTask"><button v-on:click="addTask()">Add a new task</button></p>

    <button v-on:click="taskFilter = 'all'">All</button>
    <button v-on:click="taskFilter = 'complete'">Complete</button>
    <button v-on:click="taskFilter = 'incomplete'">Incomplete</button>

    <p>this is the number of incomplete tasks {{ incompleteTasks }}</p>

    <div v-for="task in shownTasks">

      <p v-bind:class="{strike: task.completed}">{{ task.text }} {{ task.completed }}</p> <input type="checkbox" v-model="task.completed"> <button v-on:click="deleteTask(task)">Delete task</button>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
