<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>Add a new task here: <input type="text" v-model="newTask"><button v-on:click="addTask()">Add a new task</button></p>

    <div v-for="task in tasks">

      {{ task.text }} <button v-on:click="deleteTask(task)">Delete task</button>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
